/* Не использованные классы так или иначе помогут мне при верстке в будущем,не пугайтесь */


body{
    font-family: Roboto,sans-serif;
    color: var(--bold-text-color);
}
:root{
    --active-color:#2196F3;
    --bold-text-color:#212121;
    --grey-text-color:#757575;
}
ul li {
  list-style: none;
}

.header {
}
.header__logo {
    color: black;
}
.logo {
font-family: Raleway,sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;

}
.logo span{
    color: var(--active-color);
}
.header__menu {
}
.menu {
}
.menu__list {
}
.menu__item {
}
.menu__link {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
color: var(--bold-text-color);
}
.menu__link:hover,.menu__link:focus{
    color: var(--active-color);
}
.menu__link.active{
    color: var(--active-color);
}
.header__contacts {
}
.contacts-header {
}
.contacts-header__item {
}
.contacts-header__link {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--grey-text-color);
text-decoration: none;
}
.contacts-header__link:hover,.contacts-header__link:focus{
    color: var(--active-color);
}
.order {
    background-color:#2F303A ;
    text-align: center;
}
.order__title {
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: white;

}
.order__button {
cursor: pointer;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;
background-color: var(--active-color);
color: white;
}
.order__button:hover{
background-color: #188CE8;
}
.peculiarities {
}
.peculiarities__list {
}
.peculiarities__item {
}
.item-peculiarities {
}
.item-peculiarities__title {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.item-peculiarities__text {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--grey-text-color);
}
.occupation {
}
.occupation__title {
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}
.occupation__list {
}
.occupation__item {
}
.team {
    background-color: #F5F4FA;

}
.team__title {
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}
.team__cards {

}
.card-team {
}
.card-team__item {
    
}
.card-team__title {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
}
.card-team__text {
 text-align: center;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--grey-text-color);
}
.footer {
   background-color:#2F303A ;
}
.footer__logo {
    
color: white;
}
.footer__address {

}
.footer__address p {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: white;
}
.footer__contacts {
}
.contacts-footer {
}
.contacts-footer__item {
}
.contacts-footer__link{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
}
.contacts-footer__link:hover,.contacts-footer__link:focus{
    color: var(--active-color);
}


/* ================Portfolio============================== */

.portfolio {
}
.portfolio__filter {
}
.filter {
}
.filter__list {
}
.filter__item {
    
}
.filter__item button {
cursor: pointer;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
background-color: #F5F4FA;
}
.filter__item button:hover {
    background-color: var(--active-color);
    color: white;
}
.filter__item.active button {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: white;
background-color: var(--active-color);
}

.portfolio__cards {
}
.portfolio__card {
}
.card-portfolio {
}
.card-portfolio__link {
    text-decoration: none;
}
.card-portfolio__title {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--bold-text-color);

}
.card-portfolio__text {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--grey-text-color);
}
