/* Не использованные классы так или иначе помогут мне при верстке в будущем,не пугайтесь */


body{
    font-family: Roboto,sans-serif;
    color: var(--bold-text-color);
}
:root{
    --active-color:#2196F3;
    --bold-text-color:#212121;
    --grey-text-color:#757575;
}
/* ==================================Обнуление=============================== */
* {
  border: 0;
}
p{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
ul li {
  list-style: none;
  margin: 0;
padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
    padding: 0;
}

/* ==================================</Обнуление>=============================== */
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.section{
    padding: 94px 0;
}


.header {
}
.header__container{
    display: flex;
    align-items: center;
    height:80px ;

}
.header__logo {
    color: black;
    margin-right: 93px;
}
.logo {
font-family: Raleway,sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;

}
.logo span{
    color: var(--active-color);
}
.header__menu {
    display: flex;
    flex:1 1 auto ;
}
.menu {
}
.menu__list {
display: flex;
flex-wrap: wrap;
}
.menu__list li  {
    margin-right:50px ;
}
.menu__list li:last-child  {
    margin-right:0px ;
}


.menu__item {
}
.menu__link {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
color: var(--bold-text-color);
}
.menu__link:hover,.menu__link:focus{
    color: var(--active-color);
}
.menu__link.active{
    color: var(--active-color);
}

.header__contacts {
    display: flex;

}
.contacts-header {
}
.contacts-header__item {
   margin-right: 50px;
}
.contacts-header__item:last-child{
    margin-right: 0px;
}
.contacts-header__link {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--grey-text-color);
text-decoration: none;
}
.contacts-header__link:hover,.contacts-header__link:focus{
    color: var(--active-color);
}
.order {
    background-color:#2F303A ;
    text-align: center;
}
.order__container{
    width: 100%;
    height: 412px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order__title {
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: white;
margin-bottom: 40px;
}
.order__button {
cursor: pointer;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;
background-color: var(--active-color);
color: white;
width: 200px;
height: 50px;
border-radius: 5px;
}
.order__button:hover{
background-color: #188CE8;
}
.peculiarities {
}
.peculiarities__list {
    display: flex;

}
.peculiarities__item {
    flex: 0 0 270px;
    margin-right: 30px;
}
.peculiarities__item:last-child {
    margin-right: 0px;
}

.item-peculiarities {
}
.item-peculiarities__title {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
}
.item-peculiarities__text {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--grey-text-color);
}
.occupation {
}
.occupation__title {
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
}
.occupation__list {
    display: flex;
}
.occupation__item {
margin-right: 30px;
}
.occupation__item:last-child {
margin-right: 0px;
}
.team {
    background-color: #F5F4FA;

}
.team__title {
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
}
.team__cards {
display: flex;

}

.card-team {
}
.card-team__item {
    margin-right: 30px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.card-team__item:last-child {
    margin-right: 0px;
}
.card-team__title {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
padding: 30px 0 10px 0;
}
.card-team__text {
 text-align: center;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--grey-text-color);
}
.footer {
   background-color:#2F303A ;
}
.footer__container{
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.footer__logo {
color: white;
margin-bottom: 20px;
}
.footer__address {

}
.footer__street{
margin-bottom: 9px;
}
.footer__address p {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: white;
}
.footer__contacts {
}
.contacts-footer {
}
.contacts-footer__item {
    margin-bottom: 9px;
}
.contacts-footer__item:last-child {
    margin-bottom: 0;
}
.contacts-footer__link{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
}
.contacts-footer__link:hover,.contacts-footer__link:focus{
    color: var(--active-color);
}


/* ================Portfolio============================== */

.portfolio {
}
.portfolio__filter {
}
.filter {
}
.filter__list {
}
.filter__item {
    
}
.filter__item button {
cursor: pointer;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
background-color: #F5F4FA;
}
.filter__item button:hover {
    background-color: var(--active-color);
    color: white;
}
.filter__item.active button {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: white;
background-color: var(--active-color);
}

.portfolio__cards {
}
.portfolio__card {
}
.card-portfolio {
}
.card-portfolio__link {
    text-decoration: none;
}
.card-portfolio__title {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--bold-text-color);

}
.card-portfolio__text {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--grey-text-color);
}
